<section class="about-us">
  <h1>About Jurlina Contractors</h1>

  <div class="content-wrapper">
    <div class="text-content">
      <p>
        At Jurlina Contractors, Nick brings over <strong>30 years</strong> of expertise in land clearing, earthmoving, and excavation throughout Auckland and surrounding areas. With a keen eye for perfection, he leads a small, dedicated team combining top-quality machinery with skilled operators to deliver precise, reliable, and safe site preparation for residential, commercial, and rural projects.
      </p>
      <p>
        Nick has successfully managed numerous tractor mulching and land clearing contracts across Auckland.
      </p>
      <p>
        Fully licensed and insured, Nick is committed to upholding the highest standards of safety and environmental responsibility. Whether you need site clearing, mulching, or driveway construction, he delivers projects on time and within budget.
      </p>
      <p>{{missionStatement}}</p>
    </div>

    <div class="image-content">
      <img src="assets/nick.jpg" alt="Jurlina Contractors team operating machinery" />
    </div>
  </div>

  <div class="certifications">
    <h2>Certifications & Compliance</h2>
    <ul>
        @for (certs of certificatesAndCompliances; track certs) {
        <li>{{ certs }}</li>
        }
    </ul>
  </div>
</section>
