<section class="about-us">
  <h1>About Jurlina Contractors</h1>

  <div class="content-wrapper">
    <div class="text-content">
      <p>
        At Jurlina Contractors, Nick has an eye perfection and brings over <strong>30 years</strong> of experience in land clearing, earthmoving, and excavation across Auckland and beyond. 
        Our small dedicated team combines quality machinery with skilled operators to deliver precise, reliable, and safe site preparation for residential, commercial, and rural projects.
      </p>
      <p>Nick has been involved in numerous tractor mulching and land clearing contracts across Auckland</p>
      <p>
        We are fully licensed and insured, committed to maintaining the highest standards in safety and environmental compliance. Whether you need site clearing, mulching, or driveway construction, our team is ready to bring your project to life on time and on budget.
      </p>
      <p>{{missionStatement}}</p>
    </div>

    <div class="image-content">
      <img src="assets/nick.jpg" alt="Jurlina Contractors team operating machinery" />
    </div>
  </div>

  <div class="certifications">
    <h2>Certifications & Compliance</h2>
    <ul>
        @for (certs of certificatesAndCompliances; track certs) {
        <li>{{ certs }}</li>
        }
    </ul>
  </div>
</section>
