.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;

  span {
    height: 2px;
    width: 100%;
    background-color: #FFF;
    transition: all 0.3s ease;
  }
}
