<script type="application/ld+json">
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Jurlina Contractors",
  "image": "https://jurlinacontractors.co.nz/assets/nick.jpg",
  "@id": "https://jurlinacontractors.co.nz",
  "url": "https://jurlinacontractors.co.nz",
  "telephone": "+64 27 283 1088",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "61 Croft Lane",
    "addressLocality": "Auckland",
    "postalCode": "0793",
    "addressCountry": "NZ"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": -36.724,
    "longitude": 174.616
  },
  "sameAs": [
    "https://www.facebook.com/jurlinacontractors",
    "https://www.instagram.com/jurlinacontractors"
  ]
</script>

<app-nav />
<router-outlet />
