<script type="application/ld+json">
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Jurlina Contractors",
  "image": "https://jurlinacontractors.co.nz/assets/nick.jpg",
  "@id": "https://jurlinacontractors.co.nz",
  "url": "https://jurlinacontractors.co.nz",
  "telephone": "+64-21-000-0000",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "123 Example Road",
    "addressLocality": "Auckland",
    "postalCode": "0618",
    "addressCountry": "NZ"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": -36.791,
    "longitude": 174.651
  },
  "sameAs": [
    "https://www.facebook.com/jurlinacontractors",
    "https://www.instagram.com/jurlinacontractors"
  ]
</script>

<app-nav />
<router-outlet />
